*.bak
*.egg-info/
*.log
*.pyc
*.pyo
*.tmp

.DS_Store
.coverage
.coverage.*
.done.*

.eggs/
.idea/
.pytest_cache/
.tox/
.venv*/
.settings/

build/
dist/
downloads/

__pypackages__/
__pycache__/
**/__pycache__/

# -- OWN WORKSPACE: Directory(s), File(s)
__*/
__*.txt

